// ----------------------------------------
// SETTINGS
// ----------------------------------------

// ========== Color Palette ========== //

$gray-1:                     #222;
$gray-2:                     #555;
$gray-3:                     #999;
$gray-4:                     #ccc;
$gray-5:                     #eee;
$brand:                      #57b9e2;
$highlight:                  #fff59d;

// ========== Color Assignment ========== //

$c-global-background:        white;

$c-body-text:                $gray-2;
$c-lead-text:                $gray-3;
$c-headings-major:           $gray-2;
$c-headings-minor:           $gray-3;

$c-article-headline-hover:   $brand;
$c-article-date:             $gray-3;
$c-article-quote:            $gray-3;

$c-tag-background:           $gray-5;
$c-tag-background-hover:     $gray-4;
$c-tag-text:                 $gray-3;
$c-tag-text-hover:           $gray-2;

$c-footer-background:        $gray-5;
$c-footer-text:              $gray-3;

$c-link-background:          transparent;
$c-link-text:                $gray-2;
$c-link-background-hover:    lighten($brand, 30%);
$c-link-text-hover:          darken($brand, 20%);
$c-link-border:              $brand;
$c-link-border-hover:        darken($brand, 20%);

$c-selection-background:     $highlight;
$c-selection-text:           $gray-2;

$c-nav-text:                 $brand;
$c-nav-text-hover:           $gray-2;
$c-nav-text-faded:           $gray-5;

$c-divider:                  $gray-5;

// ========== Typography ========== //

$font-family-1:              'Merriweather', serif;
$font-family-2:              'Oswald', sans-serif;

$t-base-font:                $font-family-1;
$t-headings-font:            $font-family-2;

$t-size-display:             scale(5);
$t-size-headline:            scale(3);
$t-size-subhead:             scale(2);
$t-size-lead:                scale(1);
$t-size-body:                scale(base);
$t-size-caption:             scale(-1);

// ========== Layout ========== //

$l-wrapper-max-width:         48rem;
$l-wrapper-margin:            0 auto;
$l-wrapper-padding:           0 scale(base);

$breakpoints: (
  'human': 38rem,
  'norn': 52rem
);
