// ----------------------------------------
// NAVIGATION
// ----------------------------------------

// ========== Global ========== //
nav.global {
  display: flex;
  align-items: center;
  margin-top: scale(1);
  & a.brand {
    flex: 1;
    color: $gray-2;
    & img {
      max-width: 60px;
      border-radius: 50%;
    }
  }
  & a {
    border: 0;
    padding: scale(-5);
    // font-family: $t-headings-font;
    font-weight: 700;
    font-size: $t-size-caption;
    text-transform: uppercase;
    letter-spacing: 0.02rem; // Too small to use scale
    color: $c-nav-text;
    &:hover {
      background: transparent;
      color: $c-nav-text-hover;
    }
  }
}

// ========== Pagination ========== //
.pagination {
  margin: scale(base) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: $t-size-caption;
  font-weight: 700;
  color: $gray-4;
  a {
    border: 0;
    &:hover {
      background: transparent;
      color: $brand;
    }
  }
  .no-previous,
  .no-next {
    color: $c-nav-text-faded;
  }
}

// ========== Tags ========== //
span.tag a {
  padding: scale(-5);
  border: 0;
  // font-family: $t-headings-font;
  font-weight: 700;
  font-size: $t-size-caption;
  // letter-spacing: 0.05rem;
  // text-transform: uppercase;
  // background: $c-tag-background;
  color: $c-tag-text;
  &:hover {
    // background: $c-tag-background-hover;
    color: $c-tag-text-hover;
  }
}
