<article class="minimal">
	<header>
		{% assign post = article %}
		<h2><a href="{{ article.slug }}">{{ article.title }}</a></h2>
		{% include "article-date" %}
	</header>
	<footer>
		<!-- Do not show tags -->
	</footer>
</article>
