<header>
	<nav class="global">
		<a class="brand" href="/">Nick's Space</a>
		<a href="//github.com/{{ global.github }}">Github</a>
		<a href="//twitter.com/{{ global.twitter }}">Twitter</a>
		<a href="mailto:{{ global.email }}">Mail</a>
	</nav>
</header>
