<header>
	<nav class="global">
		<a class="brand" href="/"><img src="{{ "headshot.jpg" | asset_url }}" alt="Photo of Nick"></a>
		<a href="//github.com/{{ global.github }}">Github</a>
		<a href="//twitter.com/{{ global.twitter }}">Twitter</a>
		<a href="mailto:{{ global.email }}">Mail</a>
	</nav>
	<hr>
</header>
