<article class="no-articles">
	{% if mixture.route.tag %}
	<h2 >Behold: it is nothing.</h2>
	<p>I haven't written any articles about {{ mixture.route.tag | uri_decode }}. That might change someday, but I'm not making any promises.</p>
	{% else %}
	<p>Soon there will be things in this space. Won't be long now...</p>
	{% endif %}
	<a class="help" href="/"><span class="icon-help"></span></a>
</article>
