<nav class="pagination">
	{% if collection.previous %}
		{% capture prev %}{{ collection.current_page | minus:1 }}{% endcapture %}
		{% if prev == "1" %}
			<a href="/" class="previous"><span class="icon-rewind"></span> Newer</a>
		{% else %}
			<a href="/page-{{ prev }}" class="previous"><span class="icon-rewind"></span> Newer</a>
		{% endif %}
	{% else %}
	<span class="no-previous"><span class="icon-rewind"></span> Newer</span>
	{% endif %}
	{% if collection.next %}
		<a href="/page-{{ collection.current_page | plus:1 }}" class="next">Older <span class="icon-fast-forward"></span></a>
	{% else %}
		<span class="no-next">Older <span class="icon-fast-forward"></span></span>
	{% endif %}
</nav>
