{% layout "default" %}
{% block content %}
	<article class="four-oh-four">
		<h2>Woah. Where are we?</h2>
		<p>Oh, crap. This is a 404. Something might explode. Hurry up and grab the life raft!</p>
		<a class="help" href="/"><span class="icon-help"></span></a>
	</article>
	<hr>
{% endblock %}
