// ----------------------------------------
// Colors
// ----------------------------------------

$space-gray-1:      #37464a;
$space-gray-2:      #5c6e73;
$space-gray-3:      #91aeb5;
$space-gray-4:      #cfd9dc;
$space-gray-5:      #e8f1f3;
$space-gray-6:      #f0f8fa;
$space-blue-bright: #35cdee;
$space-blue-dark:   #1aa4d6;
$space-highlight:   #ffe57f;
