<nav class="pagination">
  {{#if prev}}
    <a class="newer" href="{{page_url prev}}">&laquo; Newer</a>
  {{/if}}
  {{#if next}}
    <a class="older" href="{{page_url next}}">Older &raquo;</a>
  {{/if}}
</nav>
