// ----------------------------------------
// LAYOUTS: ARTICLES
// ----------------------------------------

// ========== Article (List) ========== //
article {
  margin: 6rem 0;
  &:last-child {
    // margin-bottom: scale(6);
    // border-bottom: 2px solid $c-divider;
  }
  &.minimal {
    margin: scale(6) 0;
  }
}

article header {
  h2 {
    margin-bottom: scale(-4);
    a {
      border: 0;
      color: $gray-2;
      &:hover {
        background: transparent;
        color: $brand;
      }
    }
  }
  time {
    font-size: $t-size-caption;
    font-weight: 400;
    text-transform: uppercase;
    // letter-spacing: 0.03rem;
    color: $c-article-date;
  }
}

article hr {
  // max-width: 20%;
  margin-top: 6rem;
}

article.minimal header {
  h2 {
    font-size: $t-size-subhead;
  }
  time {
    font-size: $t-size-caption;
  }
}

// ========== Article (Single) ========== //
.post article {
  margin: 6rem 0;
  header {
    text-align: center;
    margin-bottom: 6rem;
  }
  > p:first-of-type {
    margin-top: scale(4);
  }
}
