// ----------------------------------------
// LAYOUTS: PAGES
// ----------------------------------------

// ========== 404 ========== //
.four-oh-four {
  text-align: center;
  h2 {
    font-size: $t-size-display;
    font-style: italic;
  }
  p {
    text-align: center;
  }
  a {
    border: 0;
    &:hover {
      background: transparent;
    }
    .icon-help {
      font-size: scale(2);
    }
  }
}
// ========== Tag ========== //
h2.tag-heading {
  padding: scale(2) 0;
  font-family: $t-headings-font;
  font-weight: 300;
  text-align: center;
}

// ========== No Articles ========== //
.no-articles {
  text-align: center;
  h2 {
    font-family: $t-headings-font;
    font-size: $t-size-display;
  }
  p {
    text-align: center;
  }
  a {
    border: 0;
    &:hover {
      background: transparent;
    }
    .icon-help {
      font-size: scale(2);
    }
  }
}
