{{!< default}}

{{#post}}

  {{> header}}
  <main>
    <article class="{{post_class}}">
      <header>
        <h1 class="display">{{title}}</h1>
        <hr class="thick">
      </header>
      <section class="content">
        {{content}}
      </section>
    </article>
  </main>

{{/post}}
