// ----------------------------------------
// TYPOGRAPHY
// ----------------------------------------

// ========== Root Styles ========== //
:root {
  font: 14px/#{scale(3, unitless)} $t-base-font;
  @include breakpoint(human) {
    font-size: 16px;
  }
  @include breakpoint(norn) {
    font-size: 18px;
  }
}

body {
  color: $c-body-text;
}

// ========== Headings ========== //
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: scale(base) 0;
  font-family: $t-headings-font;
  line-height: scale(1, unitless);
}

h1,
h2,
h3 {
  color: $c-headings-major;
}

h4,
h5,
h6 {
  color: $c-headings-minor;
}

h1 { font-size: $t-size-display; }
h2 { font-size: $t-size-headline; }
h3 { font-size: $t-size-subhead; }
h4 { font-size: $t-size-lead; }
h5 { font-size: $t-size-body; }
h6 { font-size: $t-size-caption; }

// ========== Paragraphs ========== //
p {
  margin: scale(base) 0 scale(2) 0;
  // text-align: justify;
}

// ========== Lists ========== //
// Soon...

// ========== Blockquotes ========== //
blockquote {
  margin: scale(4) scale(4) scale(4) 0;
  padding-left: scale(4);
  font-style: italic;
  font-weight: 300;
  // font-size: $t-size-lead;
  color: $c-article-quote;
  border-left: 1px solid $c-divider;
  p {
    margin: 0;
  }
}

// ========== Links ========== //
a {
  text-decoration: none;
  background: $c-link-background;
  color: $c-link-text;
  border-bottom: 4px solid $c-link-border;
  transition: all 120ms ease;
  &:hover {
    // background: $c-link-background-hover;
    // color: $c-link-text-hover;
    border-color: $c-link-border-hover;
  }
}

p a {
  display: inline-block;
  padding: 0.4rem 0.1rem 0.1rem; // Didn't use scale because value is too small
  line-height: 0.8;
}

// ========== Text Selection ========== //
::selection {
  background: $c-selection-background;
  color: $c-selection-text;
  text-shadow: none;
}
